@CHARSET "UTF-8";

.sign-title{
    font-family: Miller Daily,Georgia,Times,Times New Roman,serif;
    font-style: italic;
    font-size: 5rem;
    width: 100%;
    text-align:center;
}
.sign-form-container{
	padding:15px;
	margin:auto;
    width:420px;
    border: 2px solid #f1f1f1;
}
@media (max-width:440px){
    .sign-form-container{
        width:100%;
    }
}
.sign-container {
    max-width: 129rem;
    margin-left: auto;
    margin-right: auto;
}